<div class="page profile-settings">
<div class="profile-picture">
  <%= image_tag("http://www.danchankoinc.com/wp-content/uploads/2017/01/nophoto.png", :alt => "John Doe") %>
  <p class="txt-lvl-3 heading-font txt-center"></p>
  <div class="profile-picture-clip">
    <%= image_tag("profile-clip.png", :alt => "John Doe") %>
  </div>
</div>
<div class="container-sm">
<h2 class="section-title m-t-5">Add New Patient</h2>

<div class="">
    
        
        <div class="field form-group">
            <label class="default-label">Email Address</label>
            <input type="email" class="default-input">
        </div>
        <div class="field form-group">
            <label class="default-label">National ID</label>
            <input type="number" class="default-input">
        </div>
        <div class="field form-group">
            <label class="default-label">Blood Type</label>
            <input type="text" class="default-input">
        </div>
        <div class="field form-group">
            <label class="default-label">Just add more field just like that</label>
            <input type="text" class="default-input">
        </div>
        <div class="actions">
            <input type="submit" value="Add Patient" class="default-btn btn-right" >
        </div>
</div>


<div class="inline-block" style="padding-top: 100px;">
  <br><br><br>
</div>