// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'main';
.login-page {
    background-image: image-url("login-bg.jpg");
    background-position: center center;
    background-size: cover;
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-logo{
    font-size: 26px;
    margin-bottom: 50px;
}
.login-logo img{
    width: 100%;
    max-width:100px;
    animation: rotate 20s linear;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}
@keyframes rotate{
    100%{
        transform: rotate(360deg)
    }
}
.login-title span {
    font-size: 14px;
}
.login-form{
    text-align: center;
    max-width: 350px;
    // width:100%;
    // padding: 
    margin: 0 auto;

}
.login-form .field {
    position: relative;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    max-width: 350px;
}
.login-form .field i{
    position: absolute;
    left: 0;
    top: 8px;
    width: 60px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    // color: $white;
    font-size: 22px;
}
input:-webkit-autofill{
    background-color: #000 !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #25bcc2 inset;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
.login-form input{
    width: 100%;
    box-sizing: border-box;
    // max-width: 300px;
    padding: 10px 10px;
    padding-left: 60px;
    border-radius: 20px;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    outline: 0;
    font-family: $txt-font;
    color:#fff;
}
.login-form input[type="submit"]{
    background: #fff;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: $green;
    cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: rgba(255,255,255,0.7);;
}
::-moz-placeholder { /* Firefox 19+ */
color: rgba(255,255,255,0.7);;
}
:-ms-input-placeholder { /* IE 10+ */
color: rgba(255,255,255,0.7);;
}
:-moz-placeholder { /* Firefox 18- */
color: rgba(255,255,255,0.7);;
}
p.alert-danger, p.alert-success , #error_explanation{
    position: fixed;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color:#fff;
    font-family: $txt-font;
    bottom: 40px;
    font-size: $txt-lvl-2;
    width: 220px;
    left: calc(50vw - 110px);
    box-sizing: border-box;
    animation: fromBottom 0.6s ease;
    animation-fill-mode: forwards;
    transform: translateY(300px);
    z-index: 99;
}
@keyframes fromBottom{
    0%{
        transform: translateY(300px)
    }
    50%{
        transform: translateY(-20px)
    }
    100%{
        transform: translateY(0px)
    }
}

// edit profile
.profile-picture {
    background-image: image-url("login-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}
.profile-picture-clip img {
    width: 100%;
    height: auto;
    max-height: 70px;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.profile-picture > img{
    position: relative;
    z-index: 9;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border:3px solid #fff;
    margin-bottom: -80px;
}
.profile-picture p{
    position: relative;
    top: 80px;
}